body {
	background-color: #F6F6F6;
}
html {
	background-color: #F6F6F6;
}
#painting {
	background-color: #FFF4DB;
	width: 400px;
	height: 400px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 0px #8D8D8D;
}
#toprow	{
	height: 140px;
}
.box1	{
	height: 140px;
	width: 195px;
}
.divider1	{
	height: 140px;
	width: 10px;
}
.black	{
	background-color: black;
}
.right {
	float: right;
}
#middlerow	{
	height: 100px;
}
#row2	{
	height: 10px;
}
.box2	{
	height: 100px;
	width: 195px;
}
.divider2	{
	height: 100px;
	width: 10px;
}
.yellow	{
	background-color: yellow;
}
#row3	{
	height: 10px;
}
#bottomrow	{
	height: 140px;
}
#bottomrightcolumn	{
	height: 140px;
}
#box3	{
	height: 140px;
	width: 70px;
}
.divider3	{
	height: 140px;
	width: 10px;
}
#box4	{
	height: 100px;
	width: 120px;
}
#divider4	{
	height: 10px;
	width: 120px;
}
#box5	{
	height: 30px;
	width: 120px;
}
#column2 {
	height: 140px;
}
#box6	{
	height: 140px;
	width: 150px;
}
#box7	{
	height: 140px;
	width: 30px;
}
.green	{
	background-color: #DAF7A6;
}
.orange	{
	background-color: #FFC300;
}
.lightred	{
	background-color: #FF5733;
}
.red {
	background-color:#C70039;
}
.darkred {
	background-color: #900C3F;
}
.maroon	{
	background-color: #581845
}
.lightgreen	{
	background-color: #9EFA3C;
}
.lightyellow {
	background-color: #FBF39C;
}