.bphoto	{
	background-image: url(../images/ansel-portrait.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
#container {
  position: relative;
  width: 400px;
  height: 80px;
  margin: 15px;
}
#block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 60px;
  font-weight: bold;
  color: #E8834B;
}
.bphoto h1  {
  font-size: 80px;
  color: #E8834B;
  margin-bottom: 5px;
}

#text1  {
  font-size: 30px;
  font-weight: bold;
  color: #E8834B;
  position: absolute;
  top: 410px;
  left: 0;
  width: 100%;
  height: 100%;
}
.button {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #E8834B;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 450px;
}